extends layout

block content
  div.container
    h1= title
    h2.score="Score: "
      span.scoreNum="0"
    div.game
      svg#game
  script(type="text/javascript", src="/javascripts/d3.js")
  script(type="text/javascript", src="/javascripts/snake.js")